<div>
   
  <div class="row">
    <div class="column" style="background-color:#144358; padding-left: 1%;">
      <!-- <ul>
        <li *ngFor="let item of sidenavList">
           {{item}} 
        </li>
      </ul> -->
      <div class="text">
    <a style = "color: #88B4BA" routerLink="/dashboard/allempdetails"><h4>Employee details</h4></a><br>
      <a style = "color: #88B4BA" routerLink="/dashboard/feedback"><h4>Feedback</h4></a><br>
      <a style = "color: #88B4BA" routerLink="/dashboard/evaluationform"><h4>Report</h4></a><br>
      <a style = "color: #88B4BA" routerLink="/dashboard/evaluation"><h4>Evaluation</h4></a>

   </div>
    </div>
    <div class="column1" style="background-color:ghostwhite;">
     
      <router-outlet></router-outlet>
    </div>
  </div>
  
  </div>
  